@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

header {
  width: 100%;
  height: 50vh;
  margin-bottom: 20px;
}

header section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 30%;
}

header h1 {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
}

header h2 {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#banner {
  width: 100vw;
  height: 40vh;
  background-size: cover;
  border-top: 1px solid;
}

header {
  position: relative;
}
header nav {
  position: absolute;
  right: 25px;
  top: 25px;
}

header nav li {
  display: inline;
}
header nav li a {
  text-decoration: none;
  color: aliceblue;
  background-color: #089;
  border: 1.2px solid;
  border-color: black;
  padding: 4px 8px;
  margin-left: 10px;
  text-align: center;
}

header nav li a:hover {
  color: #222;
  text-shadow: 1px 0px 0px rgb(0, 0, 0);
}

.active {
  background-color: green;
}

main {
  width: 100%;
  height: 270px;
  position: relative;
  text-align: start;
}
.main-details-det {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.section-main img {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-details-det ul {
  margin-bottom: 20px;
}

.section-main .main-details-det ul li {
  list-style: none;
  text-indent: 20px;
}

.main-details-det p {
  margin-bottom: 20px;
}

.section-info-table{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-info{
  padding: 0 340px;
  height: 100%;
}

.section-info{
  margin-bottom: 30px;
  text-align: start;
  
}

.section-info h2{
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
}

.section-info p{
  font-style: italic;
  text-decoration: underline;

}

table {
  width: 50vw;
  border-collapse: collapse;
  overflow: hidden;
  
}
table th,
table td {
  border: none;
  padding: 4px;
  text-align: center;
}
table th {
  background-color: #f2f2f2;
}

.main-info article{
  margin: 30px 0;
}

.main-info article p span,
footer p span
{
  font-weight: bold;
}

footer{
  display: flex;
  padding: 0 340px;
  height: 100%;
  margin: 30px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer a{
  text-decoration: none;
  color: #000;
}


.main-rules{
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 200px 100px 200px;
}

.main-rules h2{
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
}

.main-rules .none{
  list-style: none;
  text-indent: 25px;
}

.main-rules h3,
.main-rules h4{
  margin-top: 20px ;
}

li.mg-0{
  margin: 0;
}

